#full_page {
    background-color: rgba(0, 0, 0, 0) !important;
}
.tk-footer {
    text-align: center !important;
    margin-top: 66px;
}

@keyframes owoIn {
    0% {
        transform: translate(0, -95%);
        opacity: 0
    }

    100% {
        transform: translate(0, -112%);
        opacity: 1
    }
}

#owo-big {
    position: fixed;
    align-items: center;
    background-color: #fff;
    border: 1px #aaa solid;
    border-radius: 10px;
    z-index: 9999;
    display: none;
    transform: translate(0, -112%);
    overflow: hidden;
    animation: owoIn .3s cubic-bezier(.42, 0, .3, 1.11)
}

[data-theme=dark] #owo-big {
    background-color: #4a4a4a
}

#owo-big img {
    width: 100%
}

.tk-expand {
    width: 100%;
    cursor: pointer;
    padding: .75em;
    text-align: center;
    transition: all .5s
}

#twikoo {
    max-width: 1300px !important;
    margin: 0 auto !important;
}

#twikoo .tk-content p {
    margin: 0;
    color: white;
}

#twikoo .tk-main .tk-content p {
    margin: 0;
    color: #363636;
}

#twikoo .tk-expand:hover {
    color: #fff;
    background-color: #3b70fc;
    border: 1px solid transparent
}

.tk-expand {
    border: 1px solid #e3e8f7;
    box-shadow: 0 8px 16px -4px #2c2d300c;
    border-radius: 50px;
    letter-spacing: 5px;
//background-color: #1d1e22
}

.tk-replies > .tk-comment {
    border-top: 1px dashed #4259ef23;
    border-radius: 12px;
    padding: 1rem 0 0;
    transition: all .3s ease 0s
}

.tk-replies .tk-content span:first-child:not(.token) {
    font-size: .5rem;
    color: rgba(60, 60, 67, 0.6)
}

#twikoo pre code {
    padding: none;
    background: 0 0;
    color: none
}

#twikoo code {
    padding: 2px 4px;
    background: #f1f3f8;
    color: #f47466
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
    content: "输入QQ会自动获取昵称和头像"
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
    content: "收到回复将会发送到你的邮箱"
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
    content: "可以通过昵称访问你的网站"
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after, .el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before {
    display: block
}

.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
    display: none;
    position: absolute;
    top: -60px;
    white-space: nowrap;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);
    padding: 14px 18px;
    background: #444;
    color: #fff
}

.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
    display: none;
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-top-color: #444;
    left: 50%;
    transform: translate(-50%, -48px)
}

.vwrap {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, .3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0 30px 0
}

.vcard {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, .3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0 0 0
}

#twikoo .tk-extra {
    background: #1d1e22;
    border: 1px solid #e3e8f7;
    padding: 4px 8px;
    border-radius: 8px;
    margin-right: 4px;
    color: rgba(60, 60, 67, 0.6);
    margin-top: 6px;
    font-size: .8rem
}

#twikoo .tk-extra {
    background: #fff;
    border: 1px solid #e3e8f7;
    padding: 4px 8px;
    border-radius: 8px;
    margin-right: 4px;
    color: rgba(60, 60, 67, 0.6);
    margin-top: 6px;
    font-size: .8rem
}

#twikoo .tk-extra-text {
    font-size: .5rem
}

#twikoo .tk-replies .tk-content {
    font-size: .9rem
}

#twikoo .tk-content {
    margin-top: 0
}

.tk-content span a:not([data-fancybox=gallery]) {
    font-weight: 500;
    border-bottom: solid 2px #3b70fc;
//color: #fff;
    padding: 0 .2em;
    text-decoration: none
}

.tk-content span a:not([data-fancybox=gallery]):hover {
    color: #fff;
    background-color: #3b70fc;
    border-radius: 4px
}

.tk-main .tk-content span > a {
    border-bottom: none
}

#post-comment .comment-head {
    font-size: .8em !important;
    margin-bottom: .5rem
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before {
    display: block;
    animation: commonTipsIn .3s
}

@keyframes commonTipsIn {
    0% {
        top: -50px;
        opacity: 0
    }

    100% {
        top: -60px;
        opacity: 1
    }
}

#twikoo .tk-input .el-textarea__inner {
    min-height: 130px !important;
    border-radius: 15px;
    display: block;
    resize: vertical;
    padding: 16px 16px 40px 16px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: #606266;
    background-color: #fff;
    border: 1px solid #e3e8f7;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

#page .el-textarea__inner {
    background: #fff !important;
    box-shadow: 0 8px 16px -4px #2c2d300c;;
    color: var(--anzhiyu-fontcolor) !important
}

#twikoo.twikoo .el-input__inner:focus, #twikoo.twikoo .el-textarea__inner:focus {
    border-color: #3b70fc
}

.tk-comments-container > .tk-comment {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
    transition: .3s;
    border-radius: 12px;
    padding: 0;
    padding-top: 1rem;
    border: none;
    border-top: 1px dashed #4259ef23;
}

#post-comment .comment-tips {
    background-color: rgba(103, 194, 58, .13);
    border: 1px solid #e3e8f7;
    border-color: #57bd6a;
    color: #57bd6a;
    border-radius: 8px;
    padding: 8px 12px;
    margin-top: .5rem;
    display: none
}

#post-comment .comment-tips.show {
    display: flex
}

#page .tk-comments-container > .tk-comment {
    background: #fff;
    padding: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #e3e8f7;
    border-top: 1px solid #e3e8f7;
    box-shadow: 0 8px 16px -4px #2c2d300c;
}

.tk-content {
    margin-top: .5rem;
    overflow: auto;
    max-height: 500px
}

.page .el-input__inner {
    background: #fff !important;
    color: black;
}

.tk-comments .tk-row-actions-start {
    position: relative;
    top: -56px;
    left: 17px
}

.tk-comments .tk-main .tk-row-actions-start {
    position: relative;
    top: -56px;
    left: 2px
}

.OwO .OwO-body {
    border: 1px solid #e3e8f7 !important;
    border-radius: 8px !important;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.6) !important;
    backdrop-filter: saturate(180%) blur(10px);
    cursor: auto;
    top: 2.1em !important
}

@media screen and (max-width: 768px) {
    .OwO .OwO-body {
        width: 260px
    }

    .tk-comments .tk-main .tk-row-actions-start {
        left: 30px
    }
}

.OwO .OwO-body .OwO-items .OwO-item:hover {
    box-shadow: 0 5px 12px -5px rgba(102, 68, 68, 0) !important;
    border-radius: 8px
}

#post-comment .tk-avatar.tk-clickable {
    margin: 5px
}

/*  灯笼 */
.deng-box {
    position: fixed;
    /*top: -40px; */
    top: 0px;
    right: 150px;
    z-index: 9999;
    pointer-events: none;
}

.deng-box1 {
    position: fixed;
    top: 0px;
    right: 10px;
    z-index: 9999;
    pointer-events: none
}

.deng-box2 {
    position: fixed;
    top: 0px;
    left: 150px;
    z-index: 9999;
    pointer-events: none
}

.deng-box3 {
    position: fixed;
    top: 0px;
    left: 10px;
    z-index: 9999;
    pointer-events: none
}

.deng-box1 .deng, .deng-box3 .deng {
    position: relative;
    width: 120px;
    height: 90px;
    margin: 50px;
    background: #d8000f;
    background: rgba(216, 0, 15, .8);
    border-radius: 50% 50%;
    -webkit-transform-origin: 50% -100px;
    -webkit-animation: swing 5s infinite ease-in-out;
    box-shadow: -5px 5px 30px 4px #fc903d
}

.deng {
    position: relative;
    width: 120px;
    height: 90px;
    margin: 50px;
    background: #d8000f;
    background: rgba(216, 0, 15, .8);
    border-radius: 50% 50%;
    -webkit-transform-origin: 50% -100px;
    -webkit-animation: swing 3s infinite ease-in-out;
    box-shadow: -5px 5px 50px 4px #fa6c00
}

.deng-a {
    width: 100px;
    height: 90px;
    background: #d8000f;
    background: rgba(216, 0, 15, .1);
    margin: 12px 8px 8px 8px;
    border-radius: 50% 50%;
    border: 2px solid #dc8f03
}

.deng-b {
    width: 45px;
    height: 90px;
    background: #d8000f;
    background: rgba(216, 0, 15, .1);
    margin: -4px 8px 8px 26px;
    border-radius: 50% 50%;
    border: 2px solid #dc8f03
}

.xian {
    position: absolute;
    /*top: -20px;*/
    top: -50px;
    left: 60px;
    width: 2px;
    /*height: 20px;*/
    height: 50px;
    background: #dc8f03
}

.shui-a {
    position: relative;
    width: 5px;
    height: 20px;
    margin: -5px 0 0 59px;
    -webkit-animation: swing 4s infinite ease-in-out;
    -webkit-transform-origin: 50% -45px;
    background: orange;
    border-radius: 0 0 5px 5px
}

.shui-b {
    position: absolute;
    top: 14px;
    left: -2px;
    width: 10px;
    height: 10px;
    background: #dc8f03;
    border-radius: 50%
}

.shui-c {
    position: absolute;
    top: 18px;
    left: -2px;
    width: 10px;
    height: 35px;
    background: orange;
    border-radius: 0 0 0 5px
}

.deng:before {
    position: absolute;
    top: -7px;
    left: 29px;
    height: 12px;
    width: 60px;
    content: " ";
    display: block;
    z-index: 999;
    border-radius: 5px 5px 0 0;
    border: solid 1px #dc8f03;
    background: orange;
    background: linear-gradient(to right, #dc8f03, orange, #dc8f03, orange, #dc8f03)
}

.deng:after {
    position: absolute;
    bottom: -7px;
    left: 10px;
    height: 12px;
    width: 60px;
    content: " ";
    display: block;
    margin-left: 20px;
    border-radius: 0 0 5px 5px;
    border: solid 1px #dc8f03;
    background: orange;
    background: linear-gradient(to right, #dc8f03, orange, #dc8f03, orange, #dc8f03)
}

.deng-t {
    font-family: 黑体, Arial, Lucida Grande, Tahoma, sans-serif;
    font-size: 3.2rem;
    color: #dc8f03;
    font-weight: 700;
    line-height: 85px;
    text-align: center
}

.night .deng-box, .night .deng-box1, .night .deng-t {
    background: 0 0 !important
}

@-moz-keyframes swing {
    0% {
        -moz-transform: rotate(-10deg)
    }
    50% {
        -moz-transform: rotate(10deg)
    }
    100% {
        -moz-transform: rotate(-10deg)
    }
}

@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(-10deg)
    }
    50% {
        -webkit-transform: rotate(10deg)
    }
    100% {
        -webkit-transform: rotate(-10deg)
    }
}

@keyframes swing {
    0% {
        transform: rotate(-10deg)
    }
    50% {
        transform: rotate(10deg)
    }
    100% {
        transform: rotate(-10deg)
    }
}

/*灯笼结束*/